<!-- Page Header Start -->
<div class="py-5 d-flex align-items-center justify-content-around bg-secondary-subtle">
    <h2 class="fw-bolder">About Us</h2>
    <div>
        <a class="text-decoration-none cursor-pointer text-secondary fw-semibold" routerLink="/home">Home</a>
        <span class="fw-semibold"> / About</span>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <h2 class="fw-bold my-3 text-primary">
        Our Story
    </h2>
    <p class="about-desc w-75 text-secondary">
        Reading aloud to children has been shown to improve reading, writing and communication skills, logical thinking and concentration, and general academic aptitude, as well as inspire a lifelong love of reading. Teachers use our online Library in their classrooms, and doctors and nurses play Games Which she known from Our Library in children’s hospitals.
Our Library is available 24 hours a day for children, parents, caregivers and educators worldwide. Each book includes supplemental curriculum developed by a credentialed elementary educator, aiming to strengthen comprehension and verbal and written skills for English-language learners.
        </p>
</div>
