<!-- Page Header Start -->
<div class="py-5 d-flex align-items-center justify-content-around bg-secondary-subtle">
    <h2 class="fw-bolder">Contacts</h2>
    <div>
        <a class="text-decoration-none cursor-pointer text-secondary fw-semibold" routerLink="/home">Home</a>
        <span class="fw-semibold"> / Contact</span>
    </div>
</div>
<!-- Page Header End -->
<div class="py-4">
    <div class="d-flex justify-content-center" *ngIf="isubmittedSuccessfully">
        <div class="alert alert-success alert-dismissible fade show w-50" role="alert">
            <strong>Message Submitted Successfully</strong>
            <a routerLink="/books" class="ms-2 text-decoration-none">Go To Books</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    </div>
  
    <form class="d-flex justify-content-center align-items-center h-100" [formGroup]="ContactsForm" (submit)="submit(ContactsForm)">
        <div class="border border-primary rounded-2 border-2 p-3 w-75">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="John Smith" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="message"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary flex-end">Submit</button>
            </div>
        </div>
    </form>
    
</div>

